body {
    font-family: 'Finger Paint', cursive !important;
}

h1 {
    font-family: 'Finger Paint', cursive !important;
}

h2 {
    font-family: 'Finger Paint', cursive !important;
}

p {
    font-family: 'Finger Paint', cursive !important;
}
